<!doctype html>
<html>
    <head>
        <title>Успешная регистрация!</title>
        <link rel = "stylesheet" href = "/style.css">
        <%= stylesheet_link_tag "application.css" %>
    </head>
    <body>
        <div class = "card">
            <div class = "card-title">
                <h2>Вы зарегистрировались</h1>
                <p><%= link_to 'На главную', '/'%></p>
            </div>
        </div>
    </body>
</html>