<!doctype html>
<html>
    <head>
        <title>Личный кабинет</title>
        <link rel = "stylesheet" href = "/style.css">
        <%= stylesheet_link_tag "application.css" %>
    </head>
    <body class = 'form-signin text-center'>
        <div class = 'lol'>
            <h2 class = 'h3 md-3 fw-normal'>Вы успешно зашли на свой аккаунт</h2>
            <p class = 'h5 md-3 fw-normal'>Ваш логин: <%= @user.login%></p>
            <p class = 'h5 md-3 fw-normal'>Ваш пароль: <%= @user.password%></p>
            <p class = 'h5 md-3 fw-normal'><%= link_to 'Выйти на главную', '/'%></p>
        </div>
    </body>
</html>