<!doctype html>
<html>
    <head>
        <title><%= t("pages.not_found_page")%></title>
    </head>
    <body class = 'form-signin text-center'>
        <div class = 'card'>
                <h3 class = 'h3 md-3 fw-normal'><%= t("errors.page_exists")%></h3>
                <h5 class = 'h5 md-3 fw-normal'><%= link_to t("pages.to_main_page"), '/'%></h5>
        </div>
    </body>
</html>