/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .addcolor {
    font-size: 18px;

    font-family: Tahoma;
    /*background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(101,101,226,1) 51%, rgba(255,0,191,1) 100%);*/
}
.card {
    border: solid;
    background: rgb(3, 172, 187);
    width: 400px;
    margin: 50px auto;
    box-shadow: 5px 5px 10px dimgray ;
    border-radius: 10px;
}
.card-title {
    text-align: center;
}
.card-input{
    margin-left: 30px;
}
.card-accept{
    margin: 0px 0px 30px 30px;
}